#unveil .speaker-presenter
  padding: 1em
  position: fixed
  width: 100%
  height: 100%
  z-index: 0
  background: $eerie_black
  box-sizing: border-box

  @media (max-width: 768px)
    padding: 0

  .speaker-presenter-slide
    position: relative
    width: 70%
    height: 70%
    float: left
    box-sizing: border-box

    @media (max-width: 768px)
      height: 40%
      width: 100%
      float: none
      clear: both


  .speaker-presenter-details
    float: right
    clear: right
    width: 30%
    height: 70%
    box-sizing: border-box

    @media (max-width: 768px)
      width: 100%
      height: 30%

    .speaker-presenter-controls
      height: auto
      margin: 0 0 1em 1em

      @media (max-width: 768px)
        margin: 0

    .speaker-presenter-slide-right, .speaker-presenter-slide-down
      position: relative
      height: 33%
      margin: 0 0 1em 1em
      clear: both

      @media (max-width: 768px)
        margin: 0
        width: 50%
        height: 100%
        float: left
        clear: none

      .slide-content
        max-width: initial
        min-width: 100%
        width: auto

    .speaker-presenter-slide-right
      &:before
        content: 'right'

    .speaker-presenter-slide-down
      @media (max-width: 768px)
        float: right
      &:before
        content: 'down'

  .speaker-presenter-slide, .speaker-presenter-slide-right, .speaker-presenter-slide-down
    &:before
      background: rgba(33, 33, 33, 0.5)
      color: $eerie_black
      z-index: 10
      display: block
      position: relative
      padding: .8em
      font-size: .8em

  .speaker-presenter-slide:before
    content: 'current slide'


  .speaker-presenter-notes
    width: 100%
    height: 30%
    clear: both

    box-sizing: border-box
    padding-top: 1em

    color: $white
    overflow: auto

    @media (max-width: 768px)
      padding: 0.5em

    ul
      padding: 0
      list-style-position: inside

